name: "Static Analysis"

on:
  pull_request:
    branches:
      - "*.x"
      - "master"
  push:
    branches:
      - "*.x"
      - "master"

jobs:
  static-analysis-phpstan:
    name: "Static Analysis with PHPStan"
    uses: "doctrine/.github/.github/workflows/static-analysis.yml@1.1.1"
